<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <!-- Declaracion -->

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.sagh.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoHabitacionesServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.sagh.controller.ListadoHabitacionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionHabitacionServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.sagh.controller.SeleccionHabitacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitudReservaServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.sagh.controller.SolicitudReservaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoReservasServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.sagh.controller.ListadoReservasServlet</servlet-class>
    </servlet>

    <!-- Mappings -->

    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoHabitacionesServlet</servlet-name>
        <url-pattern>/ListadoHabitacionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionHabitacionServlet</servlet-name>
        <url-pattern>/SeleccionHabitacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitudReservaServlet</servlet-name>
        <url-pattern>/SolicitudReservaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoReservasServlet</servlet-name>
        <url-pattern>/ListadoReservasServlet</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>
